<!-- ads-top.html -->
<section class="widget widget--ad ad-top-widget">
<div>[PR]</div>
  <a href="https://townlife-aff.com/link.php?i=645b4ba18234f&m=675598c315568" target="_blank" rel="noopener">
    <img src="https://townlife-aff.com/data.php?i=645b4ba18234f&m=675598c315568" width="300" height="250"  style="margin-bottom: 1rem;" alt="バナー1">
  </a>
  <a href="https://townlife-aff.com/link.php?i=5a6fcd3894f14&m=675598c315568" target="_blank" rel="noopener">
    <img src="https://townlife-aff.com/data.php?i=5a6fcd3894f14&m=675598c315568" width="300" height="250" style="margin-bottom: 1rem;" alt="バナー2">
  </a>
</section>
