/* カラーBOX */
.blue-box {
  border: 2px solid #0056b3;
  background: #e6f0ff;
  padding: 1rem;
  margin: 1.5rem 0;
  border-radius: 6px;

  .blue-title {
    background-color: #0056b3;
    color: #ffffff;
    font-weight: bold;
    padding: 0.4rem 0.75rem;
    margin: -1rem -1rem 1rem -1rem;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }

  img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
  }
}

.yellow-box {
  border: 2px solid #e0a800;
  background: #fffbea;
  padding: 1rem;
  margin: 1.5rem 0;
  border-radius: 6px;

  .yellow-title {
    background-color: #e0a800;
    color: #ffffff;
    font-weight: bold;
    padding: 0.4rem 0.75rem;
    margin: -1rem -1rem 1rem -1rem;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }

  img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
  }
}

.green-box {
  border: 2px solid #218838;
  background: #e9f6ee;
  padding: 1rem;
  margin: 1.5rem 0;
  border-radius: 6px;

  .green-title {
    background-color: #218838;
    color: #ffffff;
    font-weight: bold;
    padding: 0.4rem 0.75rem;
    margin: -1rem -1rem 1rem -1rem;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }

  img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
  }
}

.grey-box {
  border: 2px solid #495057;
  background: #f1f3f5;
  padding: 1rem;
  margin: 1.5rem 0;
  border-radius: 6px;

  .grey-title {
    background-color: #495057;
    color: #ffffff;
    font-weight: bold;
    padding: 0.4rem 0.75rem;
    margin: -1rem -1rem 1rem -1rem;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }

  img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
  }
}

/* リンクボタン */
// ボタン共通スタイル
.link-button-wrapper {
  display: flex;
  justify-content: center;
  margin: 1rem 0;
}

.link-button {
  display: inline-block;
  width: unquote("min(90%, 400px)");
  padding: 1rem;
  border-radius: 8px;
  font-weight: bold;
  text-align: center;
  line-height: 1.5;
  white-space: normal;
  word-break: break-word;
  text-decoration: none !important;
  box-sizing: border-box;
  color: #ffffff !important;

  &:hover {
    text-decoration: none;
    opacity: 0.9;
  }
}

.link-button.red {
  background: linear-gradient(to bottom, #ef6464, #e21c1c);
}

.link-button.red:hover {
  background: linear-gradient(to bottom, #f1675b, #d32f2f);
}

.link-button.green {
  background: linear-gradient(to bottom, #58e65d, #06af0e);
}

.link-button.green:hover {
  background: linear-gradient(to bottom, #6ba32e, #388e3c);
}
